n8n-manifests/docuseal-webhook-listener.json
{
  "name": "DocuSeal Webhook Listener \u2014 Vakros",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "docuseal",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook-trigger",
      "name": "DocuSeal Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "docuseal-vakros-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Validate DocuSeal webhook signature\nconst crypto = require('crypto');\nconst secret = $env.DOCUSEAL_WEBHOOK_SECRET;\nconst signature = $input.item.json.headers?.['x-docuseal-signature'];\nconst body = JSON.stringify($input.item.json.body);\n\nif (secret && signature) {\n  const expected = crypto\n    .createHmac('sha256', secret)\n    .update(body)\n    .digest('hex');\n  if (signature !== expected) {\n    throw new Error('Invalid DocuSeal webhook signature \u2014 request rejected');\n  }\n}\n\n// Normalise payload\nconst payload = $input.item.json.body;\nreturn [{\n  json: {\n    event_type:     payload.event_type,\n    submission_id:  payload.data?.submission?.id,\n    submitter_id:   payload.data?.submitter?.id,\n    submitter_email: payload.data?.submitter?.email,\n    tenant_id:      payload.data?.submission?.metadata?.tenant_id,\n    status:         payload.data?.submission?.status,\n    completed_at:   payload.data?.submission?.completed_at ?? null,\n    viewed_at:      payload.data?.submission?.viewed_at ?? null,\n    declined_at:    payload.data?.submission?.declined_at ?? null,\n    raw:            payload\n  }\n}];"
      },
      "id": "node-validate-parse",
      "name": "Validate & Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.event_type }}",
                    "rightValue": "form.completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "completed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.event_type }}",
                    "rightValue": "form.viewed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "viewed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.event_type }}",
                    "rightValue": "form.declined",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "declined"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.event_type }}",
                    "rightValue": "form.started",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "started"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "node-route",
      "name": "Route by Event",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "value": "public"
        },
        "table": {
          "value": "signing_submissions"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "docuseal_id",
              "condition": "eq",
              "keyValue": "={{ $json.submission_id }}"
            }
          ]
        },
        "dataToSend": "defineBelow",
        "fieldsToSend": {
          "values": [
            {
              "fieldName": "status",
              "fieldValue": "completed"
            },
            {
              "fieldName": "completed_at",
              "fieldValue": "={{ $json.completed_at ?? new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-supabase-completed",
      "name": "Supabase: Mark Completed",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        920,
        120
      ],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-vakros",
          "name": "Supabase Vakros"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.VAKROS_API_URL }}/internal/notifications/signing-complete",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.VAKROS_INTERNAL_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "submission_id",
              "value": "={{ $json.submission_id }}"
            },
            {
              "name": "tenant_id",
              "value": "={{ $json.tenant_id }}"
            },
            {
              "name": "signer_email",
              "value": "={{ $json.submitter_email }}"
            },
            {
              "name": "event",
              "value": "document.completed"
            }
          ]
        },
        "options": {}
      },
      "id": "node-notify-completed",
      "name": "Notify: Signing Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        120
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "value": "public"
        },
        "table": {
          "value": "signing_submissions"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "docuseal_id",
              "condition": "eq",
              "keyValue": "={{ $json.submission_id }}"
            }
          ]
        },
        "dataToSend": "defineBelow",
        "fieldsToSend": {
          "values": [
            {
              "fieldName": "status",
              "fieldValue": "viewed"
            },
            {
              "fieldName": "viewed_at",
              "fieldValue": "={{ $json.viewed_at ?? new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-supabase-viewed",
      "name": "Supabase: Mark Viewed",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        920,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-vakros",
          "name": "Supabase Vakros"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "value": "public"
        },
        "table": {
          "value": "signing_submissions"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "docuseal_id",
              "condition": "eq",
              "keyValue": "={{ $json.submission_id }}"
            }
          ]
        },
        "dataToSend": "defineBelow",
        "fieldsToSend": {
          "values": [
            {
              "fieldName": "status",
              "fieldValue": "declined"
            },
            {
              "fieldName": "declined_at",
              "fieldValue": "={{ $json.declined_at ?? new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-supabase-declined",
      "name": "Supabase: Mark Declined",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        920,
        480
      ],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-vakros",
          "name": "Supabase Vakros"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.VAKROS_API_URL }}/internal/notifications/signing-declined",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.VAKROS_INTERNAL_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "submission_id",
              "value": "={{ $json.submission_id }}"
            },
            {
              "name": "tenant_id",
              "value": "={{ $json.tenant_id }}"
            },
            {
              "name": "signer_email",
              "value": "={{ $json.submitter_email }}"
            },
            {
              "name": "event",
              "value": "document.declined"
            }
          ]
        },
        "options": {}
      },
      "id": "node-notify-declined",
      "name": "Notify: Signing Declined",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        480
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "value": "public"
        },
        "table": {
          "value": "signing_submissions"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "docuseal_id",
              "condition": "eq",
              "keyValue": "={{ $json.submission_id }}"
            }
          ]
        },
        "dataToSend": "defineBelow",
        "fieldsToSend": {
          "values": [
            {
              "fieldName": "status",
              "fieldValue": "started"
            },
            {
              "fieldName": "started_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-supabase-started",
      "name": "Supabase: Mark Started",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        920,
        660
      ],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-vakros",
          "name": "Supabase Vakros"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ received: true, event: $('Validate & Parse').item.json.event_type }) }}"
      },
      "id": "node-respond",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1360,
        300
      ]
    }
  ],
  "connections": {
    "DocuSeal Webhook": {
      "main": [
        [
          {
            "node": "Validate & Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Parse": {
      "main": [
        [
          {
            "node": "Route by Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Event": {
      "main": [
        [
          {
            "node": "Supabase: Mark Completed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase: Mark Viewed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase: Mark Declined",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase: Mark Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Mark Completed": {
      "main": [
        [
          {
            "node": "Notify: Signing Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify: Signing Complete": {
      "main": [
        [
          {
            "node": "Respond 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Mark Viewed": {
      "main": [
        [
          {
            "node": "Respond 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Mark Declined": {
      "main": [
        [
          {
            "node": "Notify: Signing Declined",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify: Signing Declined": {
      "main": [
        [
          {
            "node": "Respond 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Mark Started": {
      "main": [
        [
          {
            "node": "Respond 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "__n8n_VAKROS_SETUP_NOTES__": {
    "webhook_url": "https://n8n.vakros.com/webhook/docuseal",
    "required_env_vars": [
      "DOCUSEAL_WEBHOOK_SECRET",
      "VAKROS_API_URL",
      "VAKROS_INTERNAL_SECRET"
    ],
    "supabase_credential": "Create Supabase credential in n8n with SUPABASE_URL + SUPABASE_SERVICE_ROLE_KEY",
    "docuseal_config": "Set webhook URL in DocuSeal admin \u2192 Settings \u2192 Webhooks \u2192 https://n8n.vakros.com/webhook/docuseal",
    "events_to_enable": [
      "document.completed",
      "document.viewed",
      "document.declined",
      "form.started"
    ]
  }
}